export(BinomialTree)
export(BinomialTree_MC)
export(LCCA_MC)
export(EUAC_MC)
export(npv)
export(euv)
export(cfd)
export(tvm)
export(dpbp_ia)
export(npv_ia)
export(euv_ia)
export(irr_ia)
export(ia)
export(bc_ratio)
importFrom("graphics", "axis", "hist", "lines", "par", "plot","points", "text")
importFrom("stats", "density", "ecdf", "rbinom","median","uniroot","dnorm", "sd")
importFrom("ggplot2","ggplot" , "aes", "geom_bar", "geom_text", "position_dodge", "xlab","ylab", "geom_line")
importFrom("graphics", "legend", "plot.new")
importFrom("plyr", "count",'ldply')
importFrom("dplyr", "%>%","summarise_all","funs", "mutate","arrange")
importFrom("tidyr", "spread", "gather", "separate")
importFrom("forcats", "fct_relevel", "fct_recode")

