export(BinomialTree)
export(BinomialTree_MC)
export(Lcca_MonteCarlo)
export(npv)
export(euv)
export(cfd)
export(tvm)
export(dpbp_investment_assessment)
export(npv_investment_assessment)
export(euv_investment_assessment)
export(irr_investment_assessment)
export(dpbp_investment_assessment)
export(investment_assessment)
export(benefit_cost_ratio)
importFrom("graphics", "axis", "hist", "lines", "par", "plot","points", "text")
importFrom("stats", "density", "ecdf", "rbinom","median","uniroot")
importFrom("ggplot2", "aes", "geom_bar", "geom_text", "ggplot" , "position_dodge", "xlab" ,"ylab")
importFrom("plyr",'ldply', "count")
importFrom("graphics", "legend", "plot.new")
importFrom("dplyr", "%>%","summarise_all","funs", "mutate","arrange")
importFrom("tidyr", "spread", "gather", "separate")
importFrom("forcats", "fct_relevel", "fct_recode")

